/*
*   Quick content and guidance for searching classes!!!
*   1. Document settings
*   2. Header Settings
*   3. content settings
*   4. footer settings
*
*/

/*Document settings*/
* {box-sizing: border-box;}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*Header Settings*/
.header {
    overflow: hidden;
    background-color: #934cce;
    padding: 10px 100px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    margin-top:12px;
    margin-right: 16px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header img.logo {
  width: 100px;
  height: 80px;
  border-radius: 36%;
}

.header a.inactive {
  background-color: #91c4ff;
  color: black;
  font-family: cursive, sans-serif;
}

.header a.active {
  background-color: #da9522;
  color: white;
  font-family: cursive, sans-serif;
}

.header a:hover {
    background-color: #86e07e;
    color: white;
    font-family: cursive, sans-serif;
}

.header-right {
  float: right;
}

.header img.avatar{
    margin-top: 14px;
    margin-left: 5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

@media only screen and (min-width: 720px) {

    .header {
        padding: 10px 50px;
    }

    .header img.avatar{
        margin-top: 14px;
        margin-left: 3rem;
        height: 3rem;
        width: 3rem;
        border-radius: 100%;
    }
}

/*content settings*/
.content{
    background-color: #f1f1f1;
    display: block;
    justify-content: center;
    margin: 10px 15px 10px 15px;
    padding: 5% 20%;
}

p{
    font-size: 21px;
    font-weight: 200;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    text-align: justify;
}

.header_inside_content img{
    max-width: 60%;
    border-radius: 30%;
    position: relative;
    margin-left: 28%;
}

.block h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 32px;
    margin-top: 5rem;
}

.block img{
    max-width: 60%;
    margin-left: 28%;
    margin-top: 5%;
    margin-bottom: 5rem;
}




/*footer settings*/
.footer{
    display: block;
}

.footer_space_bar{
    margin: 0 24px 48px;
    border: 0;
    border-top: 2px solid #e5e5e5;
    height: 0;
}

.references_holder_div_footer{
    margin: 0 auto;
    padding-bottom: 28px;
}

.list_for_references_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list_item_reference_footer {
    margin: 0 12px 20px;
}

.a_reference_footer{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: #afafaf;
    text-decoration: none;
    font-family: din-round, sans-serif;
}

.list_item_reference_footer :hover{
    color: #1899d6;
}
